<div class="menutop">
    <a href="/" title="Разборка грузовых автомобилей DAF" class="mainlevel" id="active_menu">Главная</a>
    <a href="/o-kompanii" title="О компании" class="mainlevel">О нас</a>

    <a href="/dostavka" title="Доставка запчастей" class="mainlevel">Доставка</a>

    <a href="/garantiya" title="Гарантия на запчасти" class="mainlevel">Гарантия</a>

    <a href="/auto-razbor" title="Детали DAF" class="mainlevel">DAF Авторазбор</a>

    <a href="/tech" title="Техцентр" class="mainlevel">Техцентр</a>

    <a href="/partner" title="Сотрудничество" class="mainlevel">Сотрудничество</a>

    <a href="/evacuator" title="Эвакуатор" class="mainlevel">Эвакуатор</a>

    <a href="/gallery" title="Фото" class="mainlevel">Фото</a>

    <a href="/kontakty" title="Контакты" class="mainlevel">Контакты</a>
</div>