<img src="{{ static_url("images/otz.png") }}" border="0" alt=""/>
<ul class="jclist">
    <li><span class="jcl_comment">"Евроресурс" обладает широким ассортиментом грузовых автозапчастей ДАФ. Любые грузовые запчасти проходят жесткий контроль качества нашими специалистам...</span>
    </li>
    <li><span class="jcl_comment">Компания "Евроресурс" предлагает широкий выбор б/у запчастей для автомобилей DAF. Главное достоинство таких б/у запчастей, является оригинальность дет...</span>
    </li>
    <li><span class="jcl_comment"> Обращайтесь в любое время, большая номенклатура к вашим услугам.</span></li>
    <li><span class="jcl_comment">Ну очень хорошие грузовики у этой компании...</span></li>
</ul>