<div align="left" class="search">
    <form action="/search" method="post" name="adminForm" id="adminForm">

        <table border="0" width="100%">
            <tbody>
            <tr>
                <td>
                    <b class="searchhead">Поиск по названию З/Ч:</b>
                    <br>
                    <input class="inputbox" type="text" name="link_name" id="link_name" size="50">
                </td>
                <td>
                    <b class="searchhead">Поиск по номеру З/Ч:</b>
                    <br>
                    <input class="inputbox" type="text" name="address" id="address" size="50">
                </td>
                <td>
                    <br> <input type="submit" value="Поиск" onclick="javascript:submitbutton('advsearch2')"
                                class="button">
                </td>
            </tr>
            </tbody>
        </table>
        {% raw xsrf_form_html() %}
    </form>
</div>