<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name='yandex-verification' content='60743b020d12ddc3'/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="{{ static_url("css/template_css.css") }}" rel="stylesheet" type="text/css"/>

    <link href="{{ static_url("css/responsiveslides.css") }}" rel="stylesheet" type="text/css"/>

    <title>{% block title %}Daf xf 95, 105. Двигатель, кабина, редуктор даф кпп{% end %}</title>
    <meta name="description" content="{% block description %}{% end %}"/>
    <meta name="keywords" content="{% block keywords %}{% end %}"/>
    <meta name='yandex-verification' content='445a6909f41aa917'/>
    <link href="{{ static_url("com_jcomments/tpl/default/styleb6f5.css") }}" rel="stylesheet" type="text/css"/>
    <script src="{{ static_url("com_jcomments/js/jcomments-v2.15e1f.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("com_jcomments/libraries/joomlatune/ajax.js") }}" type="text/javascript"></script>
    {% block script %}{% end %}
    <base/>
    <link rel="shortcut icon" href="{{ static_url("favicon.ico") }}"/>
    <style type="text/css">
        div#rotator {
            position: relative;
        }

        div#rotator ul li {
            float: left;
            position: absolute;
            list-style: none;
        }

        div#rotator ul li.show {
            z-index: 500;
        }
    </style>

    <script type="text/javascript" src="{{ static_url("js/jquery-latest.min.js") }}"></script>

    <script type="text/javascript" src="{{ static_url("js/responsiveslides.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/responsiveslides.min.js") }}"></script>

    <script type="text/javascript">
        function theRotator() {
            $('div#rotator ul li').css({opacity: 0.0});
            $('div#rotator ul li:first').css({opacity: 1.0});
            setInterval('rotate()', 3000);
        }
        ;

        function rotate() {
            var current = ($('div#rotator ul li.show') ? $('div#rotator ul li.show') : $('div#rotator ul li:first'));
            var next = ((current.next().length) ? ((current.next().hasClass('show')) ? $('div#rotator ul li:first') : current.next()) : $('div#rotator ul li:first'));
            next.css({opacity: 0.0})
                    .addClass('show')
                    .animate({opacity: 1.0}, 1000);
            current.animate({opacity: 0.0}, 5000)
                    .removeClass('show');
        }
        ;

        $(document).ready(function () {
            theRotator();
        });
    </script>

</head>
<body>
<a id="feedback_button" href="/sdelat-zakaz">Обратная связь</a>

<center>
    <div class="content">
        <div class="dopbg"></div>
        <table width="100%">
            <tr>
                <td width="230px" class="leftrow">
                    <div class="logoblock">
                        <a href="/"><img src="{{ static_url("images/logo.jpg") }}" border="0" alt=""/></a>
                    </div>

                    <script type="text/javascript">
                        function MlImageOn(imgname) {
                            document.images[imgname].src = onImgArray[imgname].src;
                        }
                        function MlImageOff(imgname) {
                            document.images[imgname].src = offImgArray[imgname].src;
                        }
                        var offImgArray = new Array();
                        var onImgArray = new Array();
                    </script>

                    <script type="text/javascript">
                        offImgArray["ml_img_1_1"] = new Image();
                        offImgArray["ml_img_2_1"] = new Image();
                        offImgArray["ml_img_3_1"] = new Image();
                        offImgArray["ml_img_4_1"] = new Image();
                        offImgArray["ml_img_5_1"] = new Image();
                        offImgArray["ml_img_6_1"] = new Image();
                        offImgArray["ml_img_7_1"] = new Image();
                        offImgArray["ml_img_8_1"] = new Image();
                        offImgArray["ml_img_9_1"] = new Image();
                        offImgArray["ml_img_10_1"] = new Image();
                        offImgArray["ml_img_11_1"] = new Image();
                        offImgArray["ml_img_1_1"].src = "{{ static_url("images/menuimages/k1.png") }}";
                        offImgArray["ml_img_2_1"].src = "{{ static_url("images/menuimages/k2.png") }}";
                        offImgArray["ml_img_3_1"].src = "{{ static_url("images/menuimages/k3.png") }}";
                        offImgArray["ml_img_4_1"].src = "{{ static_url("images/menuimages/k4.png") }}";
                        offImgArray["ml_img_5_1"].src = "{{ static_url("images/menuimages/-1.html") }}";
                        offImgArray["ml_img_6_1"].src = "{{ static_url("images/menuimages/apply.png") }}";
                        offImgArray["ml_img_7_1"].src = "{{ static_url("images/menuimages/apply.png") }}";
                        offImgArray["ml_img_8_1"].src = "{{ static_url("images/menuimages/apply.png") }}";
                        offImgArray["ml_img_9_1"].src = "{{ static_url("images/menuimages/apply.png") }}";
                        offImgArray["ml_img_10_1"].src = "{{ static_url("images/menuimages/apply.png") }}";
                        offImgArray["ml_img_11_1"].src = "{{ static_url("images/menuimages/apply.png") }}";

                        onImgArray["ml_img_1_1"] = new Image();
                        onImgArray["ml_img_2_1"] = new Image();
                        onImgArray["ml_img_3_1"] = new Image();
                        onImgArray["ml_img_4_1"] = new Image();
                        onImgArray["ml_img_5_1"] = new Image();
                        onImgArray["ml_img_6_1"] = new Image();
                        onImgArray["ml_img_7_1"] = new Image();
                        onImgArray["ml_img_8_1"] = new Image();
                        onImgArray["ml_img_9_1"] = new Image();
                        onImgArray["ml_img_10_1"] = new Image();
                        onImgArray["ml_img_11_1"] = new Image();
                        onImgArray["ml_img_1_1"].src = "{{ static_url("images/menuimages/-1.html") }}";
                        onImgArray["ml_img_2_1"].src = "{{ static_url("images/menuimages/-1.html") }}";
                        onImgArray["ml_img_3_1"].src = "{{ static_url("images/menuimages/-1.html") }}";
                        onImgArray["ml_img_4_1"].src = "{{ static_url("images/menuimages/-1.html") }}";
                        onImgArray["ml_img_5_1"].src = "{{ static_url("images/menuimages/-1.html") }}";
                        onImgArray["ml_img_6_1"].src = "{{ static_url("images/menuimages/-1.html") }}";
                        onImgArray["ml_img_7_1"].src = "{{ static_url("images/menuimages/-1.html") }}";
                        onImgArray["ml_img_8_1"].src = "{{ static_url("images/menuimages/-1.html") }}";
                        onImgArray["ml_img_9_1"].src = "{{ static_url("images/menuimages/-1.html") }}";
                        onImgArray["ml_img_10_1"].src = "{{ static_url("images/menuimages/-1.html") }}";
                        onImgArray["ml_img_11_1"].src = "{{ static_url("images/menuimages/-1.html") }}";
                    </script>

                    <table class="menutable_menu" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td><a href="/catalog/1" title="Каталог" class="mainlevel"><img
                                    src="{{ static_url("images/menuimages/k1.png") }}" name="ml_img_1_1" border="0"
                                    alt="Каталог"/></a></td>
                        </tr>
                        <tr>
                            <td><a href="/skupka-bu-avto" title="Скупка Б/У автомобилей" class="mainlevel"><img
                                    src="{{ static_url("images/menuimages/k2.png") }}" name="ml_img_2_1" border="0"
                                    alt="Скупка Б/У автомобилей"/></a></td>
                        </tr>
                        <tr>
                            <td><a href="/catalog/53ff1503cf850888fc77eb24"><img
                                    src="{{ static_url("images/menuimages/k2_3.png")}}"></a></td>
                        </tr>
                    </table>
                    <br/>
                    {% include "_otzivi.html" %}
                    <br/>
                </td>
                <td>
                    <div class="topblock">
                        <div id="rotator">
                            <ul style="margin: 0px;">
                                <li style="opacity: 0;" class="show"><img src="{{ static_url("images/pic1.png") }}"
                                                                          border="0" alt="pic1"></li>
                                <li style="opacity: 0;" class=""><img src="{{ static_url("images/pic2.png") }}"
                                                                      border="0" alt="pic2"></li>
                                <li style="opacity: 0;" class=""><img src="{{ static_url("images/pic3.png") }}"
                                                                      border="0" alt="pic3"></li>
                            </ul>
                        </div>
                        {% include "_menu.html" %}
                    </div>
                    <br/>
                    {% block body %}{% end %}
                </td>
            </tr>
        </table>

        <br/><br/>

        <div class="footer">
            <br/>
            <table width="100%">
                <tr>
                    <td width="60%">
                        <p>
                            Россия, 445000, Самарская обл.,
                            г.Тольятти, ул. Магистральная, 11Е, офис 2
                            {#                            <br/>#}
                            {#                            Тел.: 8 (960) 836-17-77 (менеджер по продажам), 8 (964) 971-11-93#}
                        </p>
                    </td>
                    <td width="30%">
                        <a href="/otzivi" title="Отзывы" class="mainlevel">Отзывы</a>
                        <a href="/catalog/53ff1503cf850888fc77eb24" class="mainlevel">Продажа кабины daf</a>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
            <br/>
        </div>
    </div>
</center>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter24817319 = new Ya.Metrika({id: 24817319,
                    webvisor: true,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true});
            } catch (e) {
            }
        });
        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="//mc.yandex.ru/watch/24817319" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter26894904 = new Ya.Metrika({id: 26894904,
                    webvisor: true,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true});
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="//mc.yandex.ru/watch/26894904" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
