{% extends "base.html" %}

{% block title %}Каталог запчастей ({{ col+20}} шт) для грузовых автомобилей ДАФ в Тольятти{% end %}

{% block body %}
<div style="padding-left: 25px">

    <div class="user1">
        {% include "_search.html" %}
        <br>
    </div>
    <br>

    <h1 class="componentheading">Каталог товаров</h1>

    <div id="index" style="display: none">
        <div class="title">Категории товаров</div>
    </div>
    <div id="listings">
        <div class="title" style="display: none">Товары категории</div>

        <div class="info" style="display: none"><span
                class="xlistings">Всего {{ count }} товаров в этой категории.</span></div>
        <table style="width: 100%" class="headtable">
            <tbody>
            <tr>
                <td style="padding: 4px" class="tabletd" colspan="2">Номенклатура</td>
                <td style="padding: 4px;" class="tabletd">ОЕ / Код</td>
                <td style="padding: 4px;" class="tabletd">Фирма</td>
                <td style="padding: 4px;" class="tabletd">Цена</td>
                <td style="padding: 4px;" class="tabletd">Склад</td>
            </tr>
            <link rel="stylesheet" type="text/css" href="/static/js/fancyapps/source/jquery.fancybox8cbb.css"
                  media="screen">
            <script type="text/javascript" src="/static/js/fancyapps/lib/jquery.mousewheel-3.0.6.pack.js"></script>
            <script type="text/javascript" src="/static/js/fancyapps/source/jquery.fancybox8cbb.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('.fancybox').fancybox();
                });
            </script>


            {% for item in items %}
            <tr>
                <td style="padding:4px" class="tabletd2"><b><a href="/catalog/{{ item['_id']}}" delete="">
                    {{ item['name']}}</a>
                </b></td>
                <td style="padding:4px; width: 40px" class="tabletd2">
                    <a class="fancybox" rel="g{{ item['code']}}"
                       href="/static/images/{{ item['image'][0].replace('"','')}}">
                        <img src="/static/images/foto.png" alt="Фото"></a>
                    {% for cl, img in enumerate(item['image']) %}
                    {% if cl %}
                    <a style="display:none" class="fancybox" rel="g{{ item['code']}}"
                       href="/static/images/{{ img.replace('"','')}}"></a>
                    {% end %}
                    {% end %}
                </td>
                <td style="padding:4px;" class="tabletd2">{{ item['code']}}</td>
                <td style="padding:4px;" class="tabletd2"></td>
                <td style="padding:4px;" class="tabletd2">{{ item['price']}}&nbsp;Руб.</td>
                <td style="padding:4px;" class="tabletd2">
                    <center>{{ item['sklad']}}</center>
                </td>
            </tr>
            {% end %}


            </tbody>
        </table>
        <div class="pages-counter">Результаты {{ col }} из {{ count }}</div>
        {% for num, pg in enumerate(paginator, start=1) %}
        <a href="/catalog/{{ num }}" class="pagenav"><strong>{{ num }}</strong></a>
        {% end %}</div>
</div>    </div>
{% end %}