{% extends "base.html" %}

{% block title %}Запчасти на грузовые автомобили DAF отзывы в Тольятти{% end %}

{% block body %}

<div style="padding-left: 25px">
    Мы оказываем услуги по эвакуации грузовиков по Самарской области и по предварительному заказу за пределами региона,в
    соседних областях.
    Мы работаем со сложными случаями на дорогах и в сложных условиях.
    Оплата принимается наличным и безналичным расчетом.
    Работаем круглосуточно
    <table border="1">
        <tr>
            <td>Сцепка-расцепка</td>
            <td>2500 руб.</td>
        </tr>
        <tr>
            <td> Снятие кардана (если требуется)</td>
            <td>2500 руб.</td>
        </tr>
        <tr>
            <td> Снятие полуоси (если требуется)</td>
            <td>2500 руб.</td>
        </tr>
        <tr>
            <td> Холостой пробег</td>
            <td>60 руб/км</td>
        </tr>
        <tr>
            <td> Тягач без прицепа</td>
            <td>100 руб/км</td>
        </tr>
        <tr>
            <td> Эвакуация пустого автопоезда (сцепки)</td>
            <td>120 руб/км</td>
        </tr>
        <tr>
            <td> Эвакуация груженого автопоезда (сцепки)</td>
            <td>150 руб/км</td>
        </tr>
        <tr>
            <td> Подъем из кювета</td>
            <td>5000 руб/час</td>
        </tr>
        <tr>
            <td> Работа механика</td>
            <td>2500 руб/час</td>
        </tr>
        <tr>
            <td> Простой эвакуатора по вине заказчика</td>
            <td>2000 руб/час</td>
        </tr>
    </table>
</div>
{% end %}
