{% extends "base.html" %}

{% block body %}


<div style="padding-left: 25px">

    <script>
        $(function () {
            $(".rslides").responsiveSlides();
        });
    </script>

    <ul class="rslides">
        <li><img src="{{ static_url ("gallery/1.jpg")}}" alt=""></li>
        <li><img src="{{ static_url ("gallery/2.jpg")}}" alt=""></li>
        <li><img src="{{ static_url ("gallery/3.jpg")}}" alt=""></li>
        <li><img src="{{ static_url ("gallery/4.jpg")}}" alt=""></li>
        <li><img src="{{ static_url ("gallery/5.jpg")}}" alt=""></li>
        <li><img src="{{ static_url ("gallery/6.jpg")}}" alt=""></li>
        <li><img src="{{ static_url ("gallery/7.jpg")}}" alt=""></li>
    </ul>
</div>
{% end %}
