{% extends "base.html" %}

{% block keywords %}daf 105, daf xf, двигатель daf, двигатель даф, редуктор daf, кабина даф, кабина daf, даф кабина, даф кпп, даф двигатель, даф95, даф 95, daf 95{% end %}
{% block body %}
<div style="padding-left: 25px">
    <div class="user1">
        <h1>Евроресурс</h1>

        <p align="justify">
            Автомобили daf (daf xf, даф 80, даф 95, даф 105) на сегодняшний день
            весьма востребованы российскими транспортными компаниями. Однако время
            от времени даже эта надежная техника нуждается в ремонте, замене
            запчастей.
        </p>

        <h2>Разборка даф, сервисное обслуживание &laquo;под ключ&raquo;! </h2>
        <ul>
            <li>
                Наша компания &laquo;Евроресурс&raquo; вот уже многие годы помогает сохранять
                работоспособность daf, кроме того, у нас вы можете заказать daf
                запчасти.
            </li>
            <li>
                На нашем складе автозапчастей имеются детали на все
                модели daf, в том числе на даф 80, даф 95, даф 105 (двигатель даф, кпп
                даф, кабина daf, редуктор, задний мост и т.д.).
            </li>
        </ul>
        {% include "_search.html" %}
        <br/>
    </div>
    <br/>
    <table class="blog" cellpadding="0" cellspacing="0">
        <tr>
            <td valign="top">
                <div>
                    <table class="contentpaneopen">
                        <tr>
                            <td valign="top" colspan="2">
                                <h1>Разборка грузовых автомобилей DAF</h1>

                                <p align="justify">
                                    <img src="{{ static_url("images/daf-baner.jpg") }}" alt="DAF разборка"
                                         title="DAF разборка"
                                         style="float: left; margin: 5px; width: 240px; height: 188px" height="188"
                                         width="240"/>Своевременный
                                    ремонт позволяет поддерживать узлы daf в рабочем состоянии, мы оказываем
                                    весь спектр услуг в рамках такого направления, как комплексный ремонт
                                    грузовой техники daf. Кроме того, мы осуществляем скупку грузовых
                                    автомобилей б/у на выгодных условиях.
                                </p>

                                <h2>Запчасти даф - всегда в наличии и под заказ! </h2>

                                <p align="justify">
                                    Прежде
                                    чем приступить к ремонту, наши высококвалифицированные специалисты
                                    производят компьютерную диагностику систем daf xf. За счет наличия всех
                                    требующихся запчастей на собственном складе, детали устанавливаются на
                                    daf в кратчайшие сроки! Запчасти даф (двигатель, кабина daf, кпп даф)
                                    поставляются в минимальные сроки. Индивидуальный подход к каждому
                                    клиенту позволяет достичь высочайшего уровня сервиса!
                                </p>

                                <p align="justify">
                                    Наши сервисные площади оснащены современным оборудованием, с помощью которого
                                    успешно производятся ремонтные работы и обслуживание грузовиков daf (daf xf, даф 80,
                                    даф 95, даф 105) любой степени сложности.
                                </p>

                                <p align="justify">
                                    Основными
                                    принципами нашей работы являются надежность, высочайшее качество
                                    оказываемых услуг. Мы всегда открыты для партнерства!
                                </p>
                            </td>
                        </tr>
                    </table>

                    <span class="article_seperator">&nbsp;</span>
                </div>
            </td>
        </tr>
    </table>
</div>
{% end %}
