{% extends "base.html" %}

{% block title %}Запчасти на грузовые автомобили DAF отзывы в Тольятти{% endblock %}

{% block body %}
    <div style="padding-left: 25px">
        <table class="contentpaneopen">
            <tbody>
            <tr>
                <td class="contentheading" width="100%">
                    <h1>Отзывы</h1></td>
            </tr>
            </tbody>
        </table>

        <table class="contentpaneopen">
            <tbody>
            <tr>
                <td valign="top" colspan="2">
                    Мы очень внимательно относимся к отзывам наших клиентов, если вам есть что написать то
                    воспользуйтесь
                    формой ниже.
                </td>
            </tr>
            </tbody>
        </table>
        <span class="article_seperator">&nbsp;</span>
        <script type="text/javascript">
            var jcomments = new JComments(9, 'com_content', '#');
            jcomments.setList('comments-list');
        </script>
        <div id="jc">
            <div id="comments"><h4>Комментарии<a class="refresh" href="#" title="Обновить список комментариев"
                                                 onclick="jcomments.showPage(9,'com_content',0);return false;">
                &nbsp;</a>
            </h4>

                <div id="comments-list" class="comments-list">
                    <div class="even" id="comment-item-5">
                        <div class="rbox">
                            <div class="rbox_tr">
                                <div class="rbox_tl">
                                    <div class="rbox_t">&nbsp;</div>
                                </div>
                            </div>
                            <div class="rbox_m">
                                <div class="comment-box">
                                    <a class="comment-anchor" href="http://daf-razbor.ru/otzyivyi/otzyiv.html#comment-5"
                                       id="comment-5">#3</a>
                                    <span class="comment-author">Валентин</span>
                                    <span class="comment-date">21.02.2014 13:48</span>

                                    <div class="comment-body" id="comment-body-5">"Евроресурс" обладает широким
                                        ассортиментом грузовых автозапчастей ДАФ. Любые грузовые запчасти проходят
                                        жесткий
                                        контроль качества нашими специалистами.<br> Разборка грузовиков DAF
                                    </div>
<span class="comments-buttons">
<a href="#" onclick="jcomments.quoteComment(5); return false;">Цитировать</a>
</span>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="rbox_br">
                                <div class="rbox_bl">
                                    <div class="rbox_b">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="odd" id="comment-item-4">
                        <div class="rbox">
                            <div class="rbox_tr">
                                <div class="rbox_tl">
                                    <div class="rbox_t">&nbsp;</div>
                                </div>
                            </div>
                            <div class="rbox_m">
                                <div class="comment-box">
                                    <a class="comment-anchor" href="http://daf-razbor.ru/otzyivyi/otzyiv.html#comment-4"
                                       id="comment-4">#2</a>
                                    <span class="comment-author">Сергей</span>
                                    <span class="comment-date">21.02.2014 13:47</span>

                                    <div class="comment-body" id="comment-body-4">Компания "Евроресурс" предлагает
                                        широкий
                                        выбор б/у запчастей для автомобилей DAF. Главное достоинство таких б/у
                                        запчастей,
                                        является оригинальность деталей вашего автомобиля.Цены б/у запчастей для
                                        автомобилей
                                        DAF в разы ниже,чем цена на новые запасные детали. <img
                                                src="http://daf-razbor.ru/components/com_jcomments/images/smiles/normal.gif"
                                                border="0" alt=""></div>
<span class="comments-buttons">
<a href="#" onclick="jcomments.quoteComment(4); return false;">Цитировать</a>
</span>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="rbox_br">
                                <div class="rbox_bl">
                                    <div class="rbox_b">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="even" id="comment-item-3">
                        <div class="rbox">
                            <div class="rbox_tr">
                                <div class="rbox_tl">
                                    <div class="rbox_t">&nbsp;</div>
                                </div>
                            </div>
                            <div class="rbox_m">
                                <div class="comment-box">
                                    <a class="comment-anchor" href="http://daf-razbor.ru/otzyivyi/otzyiv.html#comment-3"
                                       id="comment-3">#1</a>
                                    <span class="comment-author">Алексей</span>
                                    <span class="comment-date">21.02.2014 13:46</span>

                                    <div class="comment-body" id="comment-body-3"><span
                                            class="quote">Цитирую Алексей:</span>
                                        <blockquote>Заказывали запчасти, доставили оперативно. Очень благодарны -
                                            Спасибо.
                                        </blockquote>
                                        <br>Обращайтесь в любое время, большая номенклатура к вашим услугам.
                                    </div>
<span class="comments-buttons">
<a href="#" onclick="jcomments.quoteComment(3); return false;">Цитировать</a>
</span>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="rbox_br">
                                <div class="rbox_bl">
                                    <div class="rbox_b">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="comments-list-footer"><a class="refresh" href="#" title="Обновить список комментариев"
                                                  onclick="jcomments.showPage(9,'com_content',0);return false;">Обновить
                    список комментариев</a></div>
            </div>

            <div id="comments-footer" align="center"></div>
            <script type="text/javascript">
                jcomments.setAntiCache(1, 0, 1);
            </script>
        </div>
        <div class="back_button">
            <a href="javascript:history.go(-1)">Вернуться</a>
        </div>
    </div>
{% endblock %}
