{% extends "base.html" %}


{% block body %}

<div style="padding-left: 25px">
    Приглашаем к сотрудничеству магазины автозапчастей и СТО</br>
    Мы предлагаем выгодное сотрудничество</br>
    Всем партнерам мы гарантируем:
    <li>низкие цены на запчасти</li>
    <li>большой ассортимент запчастей на автомобиль DAF</li>
    <li>Ремонт узлов и агрегатов</li>
    <li>доставка в любой город России </li></br>

    Все запчасти высокого качества,поставляются из Европы</br>
    Оптовым покупателям предлагаем скидку,которая начинается со второго заказа
</div>
{% end %}
