{% extends "base.html" %}


{% block body %}

<div style="padding-left: 25px">
    <ul>
        <li>Ремонт грузовиков</li>
        <li>Ремонт электрики</li>
        <li>Ремонт узлов и агрегатов</li>
        <li>Компьютерная диагностика</li>
        <li>Ремонт ходовой</li>
        <li>Схождение</li>
        <li>Восстановление после ДТП</li>
        <li>Рихтовка</li>
        <li>Окраска</li>
    </ul>
</div>
{% end %}
