{% extends "base.html" %}

{% block title %}{{ page['title']}}{% end %}
{% if page['description'] %}{% block description %}{{ page['description'] }}{% end %}{% end %}
{% if page['keywords'] %}{% block keywords %}{{ page['keywords'] }}{% end %}{% end %}
{% block body %}
<div style="padding-left: 25px">
    <table class="contentpaneopen">
        <tbody>
        <tr>
            <td class="contentheading" width="100%">
                <h1>{{ page['title']}}</h1></td>
        </tr>
        </tbody>
    </table>
    <table class="contentpaneopen">
        <tbody>
        {% raw page['body'] %}
        </tbody>
    </table>
    <span class="article_seperator">&nbsp;</span>

    <div class="back_button">
        <a href="javascript:history.go(-1)">Вернуться</a>
    </div>
</div>
{% end %}
