{% extends "base.html" %}

{% block title %}{{ tovar['name'].replace(tovar['code'],'').strip()}} в Тольятти{% end %}

{% block body %}
<div style="padding-left: 25px">
    <div class="user1">
        {% include "_search.html" %}
        <br>
    </div>
    <br>
    <script type="text/javascript" src="/includes/fancyapps/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="/includes/fancyapps/source/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="/includes/fancyapps/source/jquery.fancybox.css?v=2.1.5" media="screen">
    <script type="text/javascript">
        $(document).ready(function () {
            $('.fancybox').fancybox();
        });
    </script>
    <div id="listing">
        <h1>
            <a href="#">{{ tovar['name']}}</a></h1>
        <br>
        <table style="width: 100%">
            <tbody>
            <tr>
                <td style="width: 45%">
    <span class="listing-desc">
    <div class="thumbnail-left">
        <img border="0" src="/static/images/{{ tovar['image'][0].replace('"','')}}" width="300px"
             alt="{{ tovar['name']}}" title="{{ tovar['name']}}"></div></span></td>
                <td>
                    <div class="fields">
                        <div class="row">
                            <div class="caption">Номенклатура:</div>
                            <div class="data">{{ tovar['name']}}</div>
                        </div>
                        <div class="row">
                            <div class="caption">ОЕ / Код:</div>
                            <div class="data">{{ tovar['code']}}</div>
                        </div>
                        <div class="row">
                            <div class="caption">Цена:</div>
                            <div class="data">{{ tovar['price']}}&nbsp;Руб.</div>
                        </div>
                        <div class="row">
                            <div class="caption">Склад:</div>
                            <div class="data">{{ tovar['sklad']}}</div>
                        </div>
                    </div>
                    <center><a href="/sdelat-zakaz/" class="order">Сделать заказ</a></center>
                </td>
            </tr>
            </tbody>
        </table>
        <br>

        <div class="info">{{ tovar['name']}}</div>
    </div>
</div>
{% end %}