{% extends "base.html" %}

{% block body %}

<div style="padding-left: 25px">
    <div>
        <h1>Отправить сообщение в компанию Евроресурс:</h1>

        Введите, пожалуйста, свои контактные данные в поля формы. * - обязательные<br> Наш менеджер ответит вам в
        ближайшее время.<br><br>

        <form action="" enctype="multipart/form-data" method="post" runat="server">
            <table width="100%" cellpadding="10" cellspacing="10">

                <tbody>
                <tr>
                    <td style="width: 350px" align="right" valign="top">Вы хотите:</td>
                    <td align="left" valign="top" style="padding: 3px">
                        <select name="select1" style="width: 353px">
                            <option value="Купить запчасть">Купить запчасть</option>
                            <option value="Заказать обратный звонок">Заказать обратный звонок</option>
                            <option value="Задать вопрос">Задать вопрос</option>
                            <option value="Предложить сотрудничество">Предложить сотрудничество</option>
                            <option value="Отправить пожелание">Отправить пожелание</option>
                            <option value="Другое">Другое</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width: 350px" align="right" valign="top">Кому отправить сообщение:</td>
                    <td align="left" valign="top" style="padding: 3px">
                        <select name="select2" style="width: 353px">
                            <option value="Отдел закупок">Отдел закупок</option>
                            <option value="Бухгалтерия">Бухгалтерия</option>
                            <option value="Отдел логистики">Отдел логистики</option>
                            <option value="Другое">Другое</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width: 350px" align="right" valign="top">Представьтесь *:</td>
                    <td align="left" valign="top" style="padding: 3px">
                        <input type="text" name="field1" value="" size="50" style="width: 350px">
                    </td>
                </tr>
                <tr>
                    <td style="width: 350px" align="right" valign="top">Контактный телефон *:</td>
                    <td align="left" valign="top" style="padding: 3px">
                        <input type="text" name="field2" value="" size="50" style="width: 350px">
                    </td>
                </tr>
                <tr>
                    <td style="width: 350px" align="right" valign="top">Ваш E-mail адрес:</td>
                    <td align="left" valign="top" style="padding: 3px">
                        <input type="text" name="email1" value="" size="50" style="width: 350px">
                    </td>
                </tr>
                <tr>
                    <td style="width: 350px" align="right" valign="top">Текст сообщения :</td>
                    <td align="left" valign="top" style="padding: 3px">
                        <textarea name="field3" style="width: 350px"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center" valign="middle"><img
                            src="http://daf-razbor.ru/components/com_b3v_feedback/captcha.php?option=com_b3v_feedback"
                            border="0"></td>
                </tr>
                <tr>
                    <td align="right" valign="top">Контрольные знаки с картинки*:</td>
                    <td align="left" valign="top">
                        <input type="text" name="captcha">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right" valign="top">
                        <br><input type="submit" value=" Отправить заявку ">
                    </td>
                </tr>

                </tbody>
            </table>
            <br><br>

            <h2>Евроресурс - авторазбор грузового транспорта DAF</h2>

            <p>
                Высококвалифицированные специалисты нашей фирмы будут рады проконсультировать Вас и ответить на все
                интересующие Вас вопросы. Мы дорожим репутацией своей компании и сделаем покупку б/у запчастей
                необременительной и приятной. Мы работаем с регионами и заинтересованы в развитии и готовы к заключению
                договоров о сотрудничестве с магазинами автозапчастей и автосервисами. Все продаваемые нами агрегаты
                проходят предпродажную диагностику, что является гарантией качества.
            </p>
        </form>
        <br></div>
</div>
{% end %}