
html {
    background: #FFF;
    color: #000;
}

html, body, address, blockquote, div, p, pre, h1, h2, h3, h4, h5, h6, hr, dd, dl, dt, ul, ol, li, a, abbr, acronym, b, big, br, cite, code, del, dfn, em, i, ins, kbd, q, samp, small, span, strong, sub, sup, tt, var, img, object, caption, table, tbody, td, tfoot, th, thead, tr, textarea, select, form, fieldset, legend, label, font, u, s, center, dir, menu, strike, xmp {
    color: #000;
    font-family: "Tahoma";
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
    vertical-align: baseline;
}

html, body {
    font: normal 13px/18px "Tahoma";
    text-align: left;
    text-decoration: none;
}

table, td {
    font: normal 13px/18px "Tahoma";
    text-align: left;
}

input, input.button {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr, img, object, fieldset {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

caption, td, th, tr {
    text-align: left;
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

optgroup {
    background: white;
    color: black;
    font-style: normal;
}

optgroup option {
    padding-left: 22px;
}

hr {
    background-color: black;
    color: black;
    height: 1px;
    margin: 7px 0;
}

q {
    quotes: '\00AB' '\00BB' '\201E' '\201C';
}

q:before {
    content: '\00AB';
}

q:after {
    content: '\00BB';
}

q q:before {
    content: '\201E';
}

q q:after {
    content: '\201C';
}

sub, sup {
    font-size: 11px;
    position: relative;
}

sub {
    top: 5px;
}

sup {
    top: -5px;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

legend {
    color: #000;
}

input, select, button {
    vertical-align: middle;
}

textarea {
    vertical-align: top;
}

input {
    overflow: visible;
}

select[size] {
    vertical-align: top;
}

select[size="1"] {
    vertical-align: middle;
}

input[type=checkbox], input[type=radio] {
    margin: 3px 3px 0 0;
    vertical-align: top;
}