@import "reset.css";
@import "base.css";

html {
    height: 100%;
    width: 100%;
    background: #f5f5f5;
}

body {
    background: #f5f5f5 url(../images/bgtop.png) repeat-x top left;
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
    min-width: 1000px;
    overflow-x: hidden;
}

.leftrow {
    background: url(../images/bgleft.png);
    border-bottom: 1px solid #c8c8c8;
}

.logoblock {
    display: block;
    height: 186px;
}

.topblock {
    display: block;
    height: 250px;
    background: url(../images/bgtop2.png) bottom;
}

.content {
    display: block;
    width: 1000px;
    text-align: left;
    padding-top: 8px;
}

.menutop {
    z-index: 1000;
    margin-top: 214px;
    float: right;
    background: url(../images/r.png) left no-repeat;
}

.menutop a {
    display: block;
    float: left;
    padding-top: 4px;
    padding-right: 7px;
    color: #222;
    text-decoration: none;
    font-style: italic;
    font-size: 115%;
    background: url(../images/r.png) right no-repeat;
    /*font-family: Arial;*/
    text-shadow: 1px 1px 1px #FFFFFF;
}

.menutop a:hover, .menutop a#active_menu {
    color: #35548F;
}

.menutop a:nth-child(1) {
    padding-left: 22px;
}

.dopbg {
    background: url(../images/dopbg.png) no-repeat;
    position: absolute;
    margin-left: 1000px;
    display: block;
    width: 275px;
    height: 254px;
}

.footer {
    border-top: 1px solid #c8c8c8;
}

.user1 {
    border-bottom: 1px solid #c8c8c8;
}

.menutable_menu img {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;

}

.searchhead {
    color: #35548f;
}

/*.search {
  width: 250px;
  border: 1px solid #35548f;
  padding: 2px;
  margin-top: 1px;
}*/

#listings .title {
    border-bottom: 1px solid #CCC;
    color: #666;
    font: 18px "Tahoma";
    margin: 0.3em 0;
    padding-left: 0.3em;
    display: block;
    text-shadow: 1px 1px 2px #FFF;
}

#listings .xlistings {
    font: 11px "Tahoma";
    color: #CCC;
}

.headtable {
    margin-top: 15px;
    border: 1px solid #FFF;
}

.tabletd {
    background: #D9D9D9;
    color: #FFF;
    border: 1px solid #FFF;
    font-size: 11px;
    text-align: center;
}

.fields .row {
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px #DDD dotted;
    font-size: 15px;
}

.fields .row .caption {
    margin-right: 5px;
    color: #999;
    float: left;
}

.order {
    display: block;
    margin-top: 20px;
    width: 180px;
    height: 24px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #FFF;
    background-color: #35548F;
    padding-top: 10px;
    text-shadow: 1px 1px 0px #666;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #FFF;
}

#feedback_button {
    display: block;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    padding: 8px;
    background-color: #35548F;
    color: #FFF;
    z-index: 10001;
    right: -76px;
    top: 50%;
    position: fixed;
    width: 154px;
    height: 24px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    margin-top: -80px;
    border-radius: 8px 8px 0px 0px;
    opacity: 0.8;
    text-shadow: 1px 1px 3px #000;
    box-shadow: 0px 0px 5px #FFF;
    text-decoration: none;
    font-style: italic;
    -webkit-transition: right 0.35s ease-in-out;
    -moz-transition: right 0.35s ease-in-out;
    -o-transition: right 0.35s ease-in-out;
    transition: right 0.35s ease-in-out;
}

#feedback_button:hover {
    opacity: 1;
    right: -70px;
}

.jclist li {
    border-bottom: 1px #CCCCCC solid;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 5px;
    margin-bottom: 5px;

}


